RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|robots\.txt|uploads|img|styles|js|favicon\.ico)	
RewriteRule ^(.*)$ index.php/$1 [L]