<div ng-controller="usersCtrl">
    <div class="middle-map">
        <div class="left_block">
            <p class="main_p">Контакты</p></br>
            <p class="white_p">Адрес:</p>
            <p>{{contacts.address}}</p></br>
            <p class="white_p">Телефоны:</p>
            <p>{{contacts.phone1}}</br>
               {{contacts.phone2}}</p></br>
            <p class="white_p">E-mail:</p>
            <p class="mail">{{contacts.mail}}</p></br>
        </div>
        <div class="right_block">
            <div></div>
        </div>

    </div><!-- .middle-->
</div>



