<h3>Events</h3>

<table class="table table-striped" ng-controller="eventsCtrl"   ng-show="eventsFilter.length>0">
    <thead>
    <tr>
        <th>№</th>
        <!--<th>Edit</th>-->
        <th>event_name</th>
        <th>event_description</th>
        <th>event_address</th>
        <th>event_dt_start</th>
        <th>event_dt_end</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="event in eventsFilter = ( events | filter:user_login ) | orderBy:sortField:reverse">
        <td>{{ $index+1 }}</td>
        <!--<td>-->
            <!--<button class="btn" ng-click="editUser(user.id)">-->
                <!--<span class="glyphicon glyphicon-pencil"></span>  Edit-->
            <!--</button>-->
        <!--</td>-->
        <td>{{ event.event_name }}</td>
        <td>{{ event.event_description }}</td>
        <td>{{ event.event_address }}</td>
        <td>{{ event.event_dt_start }}</td>
        <td>{{ event.event_dt_end }}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr><td colspan="8">Общее кол-во: {{eventsFilter.length}}</td></tr>
    </tfoot>
</table>
<span class="alert" ng-show="eventsFilter.length==0">Нет данных</span>